# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\1-Enseignement\Master IOT 1\polygons2020\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
